
// Restaurant menu pop-up animation
// Delay handled in desired order

// Entry dish section
.restaurant-page__menu section:nth-child(2) h3 {
    animation: pop-up 2s ease forwards;
    opacity: 0;
}

.cards-g1 {
    animation: pop-up 4s ease forwards;
    opacity: 0;
}

// Main dish section
.restaurant-page__menu section:nth-child(3) h3 {
    animation: pop-up 4s ease forwards;
    opacity: 0;
}

.cards-g2 {
    animation: pop-up 6s ease forwards;
    opacity: 0;
}

// Dessert dish section
.restaurant-page__menu section:nth-child(4) h3 {
    animation: pop-up 6s ease forwards;
    opacity: 0;
}

.cards-g3 {
    animation: pop-up 8s ease forwards;
    opacity: 0;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translate(-30px, -9px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}