/* Handling and removing uneeded natural DOM behavior */

* {
    @include text-font;
}

.main-container {
    padding: 0;
    margin : auto;
    box-sizing: border-box;
    width: 100%;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    object-fit: cover;
}

input {
    border: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}
