/* Handling and removing uneeded natural DOM behavior */

* {
    @include text-font;
}

.main-container {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    margin: 0px;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    @include title-font;
}

ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    border: none;
    background-color: transparent;
}
