
// Color themes

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color: #008766;
$quinary-color: #89C8FA;
$senary-color: #003A68;
$black: #000000;
$white: #ffffff;

// Fonts import

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

// Fonts

$Shrikhand: "Shrikhand", cursive;
$Roboto: "Roboto", sans-serif;

@mixin title-font {
    font-family: $Shrikhand;
}
  
@mixin text-font {
    font-family: $Shrikhand;
}

// Shadows

@mixin header-shadow {
    box-shadow: 0 5px 5px darken(#eaeaea, 8%), inset 0 5px 5px darken(#eaeaea, 8%);
}
  
@mixin button-shadow {
    box-shadow: 0 0 10px 0 darken(#f6f6f6, 26%);
}
  
@mixin menu-shadow {
    box-shadow: 0px 4px 15px 0 lighten(black, 90%);
}

// Responsive

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin row-reverse {
    display: flex;
    flex-direction: row-reverse;
}