
// Color themes

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color: #008766;
$quinary-color: #89C8FA;
$senary-color: #003A68;
$black-background: #353535;
$white-background: #F6F6F6;
$icon-grey: #7E7E7E;
$black: #000000;
$white: #FFF;


// Recurrent styling

$section-padding: 68px 20px;

// Fonts import

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

// Fonts

$Shrikhand: "Shrikhand", cursive;
$Roboto: "Roboto", sans-serif;