
.heart-button {
    @include flex(unset, center, center);
    border: $primary-color;
    background-color: transparent;
    & i {
        font-size: 24px;
    }
    &__empty-heart {
        position: absolute;
        transition: opacity .5s ease-in-out;
    }
    &__full-heart {
        position: absolute;
        opacity: 0;
        border: transparent;
        color: transparent;
        background: linear-gradient($primary-color, $secondary-color);
        background-clip: text;
        transition: opacity .5s ease-in-out;
    }
    &:hover  {
      .heart-button__full-heart {
        opacity: 1;
      }
  }
}
