
.new-label {
    padding: 8px;
    background-color: $tertiary-color;
    border-radius: 2px;
    & span {
        color: $quaternary-color;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
}