@import "./heart-button";
@import "./new-label";


.restaurants-cards {
    @include flex(column, center, center);
    gap: 18px;
    &__restaurant-card {
        position: relative;
        @include flex(column, center, unset);
        width: 346px;
        height: auto;
        background-color: $white;
        border-radius: 15px;
        .new-label {
            position: absolute;
        }
        & img {
            border-radius: 15px 15px 0 0;
        }
        &__card-details {
            @include flex(row, space-between);
            padding: 12px;
            &__text {
                @include flex(column);
                gap: 4px;
                & h3 {
                    font-size: 18px;
                    font-weight: 700;
                }
                & p {
                    font-size: 17px;
                    font-weight: 300;
                }
            }
        }
    }
}