.steps-button {
    @include flex(row, center center);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;

    & i {
        color: $icon-grey;
        font-size: 19px;
        &:hover {
            color: $primary-color;
        }
    }

    &__container {
        transform: translateX(-35px);
        display: flex;
        gap: 18px;
    }
}