@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* Handling and removing uneeded natural DOM behavior */
* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__logo-container__return-arrow {
  position: absolute;
  left: 2%;
}
.header__logo-container__return-arrow i {
  font-size: 30px;
}
.header__logo-container__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 30px;
  margin: 14px 0;
  font-family: "Shrikhand", cursive;
}

.footer {
  background-color: #353535;
  color: #FFF;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.footer__logo {
  font-size: 18px;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}
.footer__bloc__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  font-weight: 500;
}
.footer__bloc__item i {
  width: 11px;
  height: 13px;
}

@media (min-width: 1023.99px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 25px;
  }
  .footer__logo {
    font-size: 16px;
  }
  .footer__bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 68px;
    gap: 20px;
  }
}
.loader-container {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  z-index: 2;
  animation: loaded 0s 3s forwards;
}
.loader-container__loader {
  position: relative;
  margin: auto;
  top: 25%;
  background-image: linear-gradient(to right top, #9356dc, #ac5bdc, #c160dc, #d667db, #e86edb, #ce7cec, #af88f8, #8d92ff, #009cf4, #009bcd, #009398, #008766);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #FFF;
  animation: spin 1.5s linear infinite;
}
.loader-container__loader:before {
  content: "";
  position: absolute;
  background-color: #FFF;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #FFF;
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }
}
@keyframes loaded {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.search-input_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-shadow: 0 5px 5px #d6d6d6, inset 0 5px 5px #d6d6d6;
  background-color: #EAEAEA;
}
.search-input_container__location-container {
  margin: 0 auto;
}
.search-input_container__location-container i {
  font-size: 16px;
}
.search-input_container__location-container input {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.main-button {
  color: #FFF;
  text-align: center;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 13px 19px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 0 10px 0 #b4b4b4;
  transition: all 0.5s;
}
.main-button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.steps-button {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 28px 20px 28px 20px;
  font-size: 16px;
  font-weight: 500;
  gap: 20px;
  position: relative;
}
.steps-button__step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -10px;
}
.steps-button i {
  color: #7E7E7E;
  font-size: 19px;
  padding-left: 7%;
}
.steps-button i:hover {
  color: #9356DC;
}
.steps-button p {
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 424px) and (max-width: 767.98px) {
  .steps-button {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 767.99px) {
  .steps-button {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.heart-button {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  border: #9356DC;
  background-color: transparent;
}
.heart-button i {
  font-size: 24px;
}
.heart-button__empty-heart {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
.heart-button__full-heart {
  position: absolute;
  opacity: 0;
  border: transparent;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transition: opacity 0.5s ease-in-out;
}
.heart-button:hover .heart-button__full-heart {
  opacity: 1;
}

.new-label {
  padding: 8px;
  background-color: #99E2D0;
  border-radius: 2px;
}
.new-label span {
  color: #008766;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.restaurant-card {
  width: 100%;
}
.restaurant-card__restaurant-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  height: auto;
  background-color: #FFF;
  border-radius: 15px;
}
.restaurant-card__restaurant-link .new-label {
  position: absolute;
  top: 13px;
  right: 13px;
}
.restaurant-card__restaurant-link img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 231px;
}
.restaurant-card__restaurant-link__card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-right: 15px;
}
.restaurant-card__restaurant-link__card-details__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}
.restaurant-card__restaurant-link__card-details__text h3 {
  font-size: 18px;
  font-weight: 700;
}
.restaurant-card__restaurant-link__card-details__text p {
  font-size: 17px;
  font-weight: 300;
}

.main-section {
  background-color: #F6F6F6;
  padding: 68px 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-section__paragraph {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}

.function-steps {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  padding: 68px 20px;
  gap: 20px;
}
.function-steps__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.function-steps__steps-container {
  width: 100%;
  gap: 15px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1023.99px) {
  .function-steps {
    padding: 50px 180px;
    gap: 25px;
  }
  .function-steps__steps-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
}
.restaurants {
  background-color: #F6F6F6;
  padding: 60px 18px;
  gap: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: unset;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

@media (min-width: 1023.99px) {
  .restaurants {
    padding: 30px 180px;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }
}/*# sourceMappingURL=home.css.map */