.footer {
    background-color: $black-background;
    color: $white;
    padding: 22px 25px;
    @include flex(column);
    gap: 16px;
    &__logo {
        font-size: 18px;
        font-weight: 400;
        font-family: $Shrikhand;
    }
    &__bloc {
        @include flex(column);
        gap: 7px;
        &__item {
            @include flex(row, center);
            gap: 18px;
            font-weight: 500;
            & i {
                width: 11px;
                height: 13px;
            }
        }
    }
}

@media (min-width: 1023.99px) {
    .footer {
        @include flex(row-reverse, flex-start, center);
        padding: 30px 25px;
        &__logo {
          align-items: flex-end;
          font-size: 16px;
        }
        &__bloc {
          @include flex(row, space-between, center);
          padding: 0 60px;
          gap: 20px;
        }
    }
}