
.header {
    @include flex(column, center, center);
    &__logo-container {
        @include flex(row, center, center);
        &__return-arrow {

            & i {
                font-size: 30px;
            }
        }
        &__logo {
            @include flex(row, center);
            font-size: 30px;
            margin: 14px 0;
            @include title-font;
        }
    }
}