@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/normalize";

@import "../layout/_header";
@import "../layout/_footer";

@import "../components/loader";
@import "../components/search-input";
@import "../components/main-button";
@import "../components/steps-button";
@import "../components/restaurant-card";

.main-section {
    background-color: $white-background;
    padding: $section-padding;
    gap: 20px;
    @include flex(column, center, center);
    text-align: center;
    &__paragraph {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: $black-background;
    }
}

.function-steps {
    @include flex(column, center, flex-start);
    padding: $section-padding;
    gap: 20px;
    &__title {
        @include flex(row, flex-start);
    }
    &__steps-container {
        width: 100%;
        gap: 15px;
        @include flex(column, center, center);
    }
}

.restaurants {
    background-color: $white-background;
    padding: 60px 18px;
    gap: 18px;
    @include flex(column,flex-start,unset);
    &__cards {
        @include flex(column, center, center);
        gap: 18px;
    }
}