@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/normalize";

@import "../layout/_header";
@import "../layout/_footer";

@import "../components/back-button";
@import "../components/dish-card";
@import "../components/menu-label";
@import "../components/main-button";
@import "../components/menu-title";
@import "../components/heart-button";

.restaurant-page {
    @include flex(column);
    background-color: $white;
    & img {
        width: 100%;
        height: 300px;
    }
    &__menu {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
        border-radius: 25px 25px 0 0;
        @include flex(column, center, center);
        background-color: $white-background;
        z-index: 2;
        gap: 40px;
        margin-top: -32px;
        padding-bottom: 40px;
        &__section {
            @include flex(column);
            gap: 12px;
            width: 100%;
        }
        .main-button {
            padding: 16px 48px;
        }
    }
}

@media (min-width: 499.99px) and (max-width: 767.98px) {
    .restaurant-page {
        @include flex(column, flex-start, center);
        &__menu {
            &__section {
                width: 75%;
            }
        }
    }
}

@media (min-width: 767.99px) {
    .restaurant-page {
        @include flex(column, flex-start, center);
        &__menu {
            width: 80%;
            margin-top: -50px;
            &__section {
                width: 60%;
            }
        }
    }
}